$color:#d29948;
$tamano:100%;

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

html {
  height: $tamano; 
}

a {
  color: #a5732a;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;

  a:hover {
    outline: none;
    text-decoration: none;
    color: #dab074; }
  a:focus {
    outline: none;
    outline-offset: 0; }
}

ul {
  list-style: none; }

h1, h2, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1, h2 {
  color: #686868; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

.overflow {
  overflow: hidden; }

.uppercase {
  text-transform: uppercase; }

.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 25px; }

#action .col-sm-5 {
  position: absolute;
  top: 0;
  height: $tamano;
  right: 0; }

.btn-common:hover,
.btn-common:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: $color; }

.align-right {
  text-align: right; }

.inline {
  display: inline-block; }

.padding {
  padding: 65px 0; }

.padding-bottom {
  padding-bottom: 65px; }

.padding-top {
  padding-top: 90px; }

.padding-right {
  padding-right: 80px; }

.padding-left {
  padding-left: 80px; }

.margin-bottom {
  margin-bottom: 35px; }

/*************************
*******Header******
**************************/
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; 

.navbar-inverse .container {
  position: relative; }

.social-icons ul li {
  padding: 0 10px; }
  .social-icons ul li:last-child {
    padding-right: 0; }

.social-icons ul li a {
  font-size: 18px;
  color: #d3d3d3;
  padding: 0; }
  .social-icons ul li a:hover, .social-icons ul li a:focus {
    color: #dbb075;
    background: none; }


.navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0; }
.navbar-toggle {
  margin-top: 20px; }
.navbar-brand {
  padding: 0;
  margin-left: 0; }
.navbar-brand h1, .navbar-brand h2 {
    padding: 0;
    margin: 0; }
.navbar-nav.navbar-right > li a  {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300; }
.navbar-nav.navbar-right > li:last-child {
  margin-right: 20px; }
.navbar-inverse .navbar-nav li a:hover {
  color: $color; }
.navbar-inverse .navbar-nav li.active > a, .navbar-inverse .navbar-nav li.active > a:focus {
  background-color: inherit;
  border: 0;
  color: $color; }
.navbar-nav li ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }
  .navbar-nav li ul.sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize; }
  .navbar-nav li ul.sub-menu li:hover, .navbar-nav li ul.sub-menu li:focus {
    background: #fef7ee;
    color: $color; }
  .navbar-nav li ul.sub-menu li .active {
    background: #fef7ee;
    color: $color;
    position: relative; }
  .navbar-nav li ul.sub-menu li .active i {
      position: absolute;
      font-size: 56px;
      top: -13px;
      color: #dab074; }
  .navbar-nav li ul.sub-menu li .active .fa-angle-right {
      left: -3px; }
  .navbar-nav li ul.sub-menu li .active .fa-angle-left {
      right: -3px; }

  .navbar-inverse .navbar-nav li.active > a,
  .navbar-inverse .navbar-nav li.active > a:focus,
  .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: $color; }
}
/*****SECCION NERDS******/
#home-slider{
    background-image: url("../images/home/slider-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    
    .slide-text{
      padding: 65px 0;
    }
    .btn-common{
      margin-top: 30px;
    }
    .slider-cloud2{
      margin-left: 100px; 
    }
    .slider-sun{
      margin-top: -60px;
      margin-bottom: 50px;
    }
    .slider-cloud1{
      margin-top: -50px;
    }
    .slider-circle1{
      margin-left: 40px;
    }
    .slider-circle2{
      margin-top: -50px;
    }
    .slider-cloud3{
      margin-top: -50px;
      margin-left: 10px;
    }
    .slider-cycle{
      margin-top: 110px;
    }
    .slider-house{
      margin-left: 15px;
      margin-top: 5%;
    }
    @media screen and (max-width: 768px) {
    .slider-cloud2{
      margin-left: 50px; 
    }
    .slider-sun{
      margin-top: -70px;
      margin-left: 50px;
    }
    .slider-cloud1{
      margin-top: -40px;
    }
    .slider-circle1{
      margin-left: 40px;
     
    }
    .slider-circle2{
      

    }
    .slider-cloud3{
      margin-top: -70px;
      
    }
    .slider-cycle{
      width: 100%;
    }
    .slider-house{
      margin-left: 15px;
    } 
    }
}
/*****SECCION ICONOS******/
#services{
  .single-service{
    padding: 65px 30px 80px 30px;
  }
  .img{
    margin-top:-40px;
  }
}
/*****SECCION TEMPLATE******/
#action{
    background-image: url("../images/home/tour-bg.png");
    height: 170px;
    background-color: #f4f4f4;
    overflow-x:hidden;
    overflow-y:hidden;
  .title{
    margin-top: 9%;
  }
  .col-sm-6{
    position: relative;
  }
  a{
    position: absolute;
    margin-right: 200px;
    margin-top: 63px;
  }
  img{
    position: relative;
    margin-left: 150px;
    margin-top: 30px;
  }
}
/*****SECCION IMAGENES Y TEXTO ******/
#features{
  .single-features{
    margin-top: 5%;
  }
}
/*****SECCION CLIENTES******/
#clients{
  .clients{
    margin-left: 500px; 
  }
  .clients-logo{
    padding: 65px 0 100px 0;
  }
  
}
/*****FOOTER******/
#footer{
  background-image: url("../images/home/footer.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  .bottom-separator{
    padding-bottom: 65px;
  }
  address, blockquote{
    padding: 30px 0;
  }
  .form-control{
    border: 1px solid #a5732a !important;
    border-radius: 6px;
  }
  .btn-submit{
    background-color: #a5732a;
    border: 1px solid #a5732a !important;
    border-radius: 5px;
    width: 100%;
    color: white;
  }
  .copyright-text{
    padding: 50px 0 80px;
  }
}
